* {
    padding: 0;
    margin: 0;
	user-select: none;
	outline: none;
}
body {
	border: 1px rgba(0, 0, 0, 0) solid;
	overflow: hidden;
}
#blurBg {
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: cover;
	filter: blur(30px);
	z-index: -4;
	transition: all 0.5s;
}
li {
    list-style: none;
}
main {
	max-width: 600px;
	min-height: 400px;
	background: #333;
	margin: 100px auto;
	overflow: hidden;
}
header {
	height: 180px;
	overflow: hidden;
}
figure {
	width: 132px;
	height: 132px;
	margin: 20px 0 0 20px;
	float: left;
	background-size: cover;
}
#songInfo {
	height: 132px;
	width: 400px;
	margin: 20px;
	float: left;
}
#nowPlayingInfo {
	color: white;
	height: 30px;
	line-height: 30px;
	font-size: 20px;
}
#singer {
	color: #ccc;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
}
#panelTop {
	color: #ccc;
	height: 30px;
	overflow: hidden;
}
#panelTop .controlBtn {
	float: left;
}
#volBar {
	height: 30px;
	width: 100px;
	float: right;
}
#progressBar {
	height: 10px;
}
.barShell {
    cursor: pointer;
}
.barShell:hover .barBg {
    background: #888;
}
.barBg {
	height: 5px;
	background: #555;
	border-radius: 5px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.barFg {
	background: lightgreen;
	height: 100%;
	border-radius: 5px;
    cursor: pointer;
}
#panelBottom {
	color: #ccc;
	height: 30px;
	overflow: hidden;
}
#panelBottom .controlBtn {
	float: right;
}
#timeInfo {
	line-height: 30px;
	font-size: 14px;
}
footer {
	min-height: 150px;
} 
.controlBtn {
	width: 30px;
	height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
.controlBtn:hover {
	color: white!important;
}
#volumnBtn {
    float: right!important;
}
#randomBtn {
    color: rgba(204, 204, 204, 0.3);
}
#songList {
	overflow: hidden;
	color: #ccc;
}
#songList>ul {
	float: left;
    width: 280px;
	height: 400px;
	overflow: auto;
	margin-bottom: 20px;
}
#songList>ul>li {
	line-height: 30px;
	padding-left: 10px;
	cursor: pointer;
}
#songList>ul>li:hover {
	background: #666;
}
#allSongs {
	margin-left: 20px;
    background: #222;
}
#selectedSongs {
    background: #111;
}
.left {
	float: left;
	font-size: 20px;
	color: #ccc;
}
.right {
	float: right;
	font-size: 20px;
	color: #ccc;
}
#songListInfo {
	overflow: hidden;
	padding: 20px 40px;
	text-align: center;
	font-size: 14px;
	color: #777;
	line-height: 20px;
}





