* {
    padding: 0;
    margin: 0;
	user-select: none;
	outline: none;
}
li {
    list-style: none;
}
main {
	max-width: 600px;
	min-height: 400px;
	background: #333;
	margin: 100px auto;
	overflow: hidden;
}
header {
	height: 180px;
	overflow: hidden;
}
figure {
	background: orange;
	width: 132px;
	height: 132px;
	margin: 20px 0 0 20px;
	float: left;
}
#songInfo {
	height: 132px;
	width: 400px;
	margin: 20px;
	float: left;
}
#nowPlayingInfo {
	color: white;
	height: 30px;
	line-height: 30px;
	font-size: 20px;
}
#singer {
	color: #ccc;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
}
#panelTop {
	color: #ccc;
	height: 30px;
	overflow: hidden;
}
#panelTop .controlBtn {
	float: left;
}
#volBar {
	height: 30px;
	width: 100px;
	float: right;
}
#progressBar {
	height: 10px;
}
.barShell {
    cursor: pointer;
}
.barShell:hover .barBg {
    background: #888;
}
.barBg {
	height: 5px;
	background: #555;
	border-radius: 5px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.barFg {
	background: lightgreen;
	height: 100%;
	border-radius: 5px;
    cursor: pointer;
}
#panelBottom {
	color: #ccc;
	height: 30px;
	overflow: hidden;
}
#panelBottom .controlBtn {
	float: right;
}
#timeInfo {
	line-height: 30px;
	font-size: 14px;
}
footer {
	min-height: 150px;
} 
.controlBtn {
	width: 30px;
	height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
.controlBtn:hover {
	color: white!important;
}
#volumnBtn {
    float: right!important;
}
#randomBtn {
    color: rgba(204, 204, 204, 0.3);
}
#songList {
	overflow: hidden;
}
#songList>ul {
	float: left;
    width: 200px;
	height: 400px;
}
#allSongs {
    background: lightblue;
}
#selectedSongs {
    background: lightgreen;
}







