* {
    padding: 0;
    margin: 0;
	user-select: none;
	outline: none;
}
li {
    list-style: none;
}
.controlBtn {
	width: 80px;
	height: 30px;
    line-height: 30px;
    text-align: center;
    border: 2px #333 solid;
    cursor: pointer;
    user-select: none;
}
#randomBtn {
    color: rgba(0, 0, 0, 0.3);
}
#repeatBtn {
	transform: translateY(6px);
}
#songList {
	overflow: hidden;
}
#songList>ul {
	float: left;
    width: 200px;
	height: 400px;
}
#allSongs {
    background: lightblue;
}
#selectedSongs {
    background: lightgreen;
}
/*拉bar*/
.barShell {
	height: 50px;
	background: blue;
}
.barBg {
	height: 50%;
	background: #777;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.barFg {
	height: 100%;
	width: 50%;
	background: pink;
}
/*音量條*/
#volBar,
#progressBar {
	width: 400px;
	margin: 0 auto;
}







