* {
    margin: 0;
    padding: 0;
}
body {
    font-size: 12px;
    width: 70%;
    margin: 100px auto;
    border: 2px #333 solid;
}
h1 {
	text-align: center;
}
main {
	min-height: 100px;
	padding: 20px 0;
}
section div {
    height: 12px;
    width: 100%;
    line-height: 12px;
    background: #b6ff00;
    white-space: nowrap;
    margin: 0 0 5px;
	transition: all 0.3s;
}
section {
    width: 90%;
    border-right: 2px #999 dashed;
}
section div.maxDiv {
    height: 48px;
    width: 100%;
    line-height: 48px;
    font-size: 40px;
    background: red;
    color: white;
    white-space: nowrap;
}
main section div:hover {
	background: #999;
    height: 48px;
    line-height: 48px;
    font-size: 40px;
}
footer {
	width: 60%;
	margin: 20px auto;
	overflow: hidden;
}
input {
	box-sizing: border-box;
	border: none;
	border-bottom: 3px #777 solid;
	width: 40%;
	height: 30px;
	outline: none;
}
button {
	box-sizing: border-box;
	outline: none;
	height: 30px;
	background: rgb(153, 179, 255);
	width: 18%;
	border-radius: 5px;
}
@media only screen and (max-width: 860px){
	input, button {
		float: left;
		width: 100%;
		margin-bottom: 10px;
	}
}
/*
*/	